# Retail Order Data Analytics – End-to-End ETL Pipeline

This notebook demonstrates an end-to-end data analytics pipeline using Python and MySQL.

Workflow:
1. Data ingestion from Kaggle
2. Data cleaning and standardization
3. Feature engineering
4. Data validation
5. Loading data into MySQL

In [1]:
!kaggle datasets list

Warning: Looks like you're using an outdated `kaggle`` version (installed: {current_version}), please consider upgrading to the latest version ({latest_version_str})
ref                                                           title                                                  size  lastUpdated                 downloadCount  voteCount  usabilityRating
------------------------------------------------------------  -----------------------------------------------  ----------  --------------------------  -------------  ---------  ---------------
saidaminsaidaxmadov/chocolate-sales                           Chocolate Sales                                      468320  2026-01-04 14:23:35.490000          14721        259                1
aliiihussain/amazon-sales-dataset                             Amazon_Sales_Dataset                                1297759  2026-02-01 11:37:12.353000           2200         46                1
syedaeman2212/deaths-and-causes                               Deaths and causes                                      3654  2026-02-03 18:40:41.400000            741         27                1
vishardmehta/gold-price-forecasting-dataset                   Gold Price Forecasting Dataset                       138149  2026-02-02 10:27:21.830000           1277         27                1
thedrzee/spotify-long-hits-dataset-2014-2024                  Spotify Long Hits Dataset_(2014-2024)                 39137  2026-02-01 13:07:24.790000            600         49       0.88235295
rockyt07/social-media-user-analysis                           Social Media User Analysis                        247842357  2026-01-14 02:28:41.970000           8423        166                1
sonalshinde123/work-from-home-employee-burnout-dataset        Work From Home Employee Burnout Dataset               27962  2026-01-31 03:28:22.227000           1335         36                1
hiteshyadavx/employee-salary                                  Employee Salary                                         486  2026-02-01 20:23:08.077000            720         24                1
emirhanakku/synthetic-healthcare-patient-journey-dataset      Synthetic Healthcare Patient Journey Dataset          38540  2026-02-02 21:18:38.177000            775         35                1
ayeshasiddiqa123/student-perfirmance                          Student Academic Performance Dataset.                 96178  2026-01-06 12:08:32.540000           4426         76                1
hassaan2580/lamborghini-sales-2020-2025                       Lamborghini_Sales_2020_2025                             897  2026-02-02 10:53:40.057000            710         25                1
vishardmehta/indian-engineering-college-placement-dataset     Indian Engineering College Placement Dataset         137603  2026-01-24 15:23:40.150000           2575         57                1
bhanageviraj/buy-now-pay-later-bnpl-dataset                   Buy Now, Pay Later (BNPL) Dataset:                  1766464  2026-02-04 12:10:16.753000            407         24                1
ayeshaimran1619/bmw-sales-and-pricing-trends                  BMW Sales & Pricing Trends                           112601  2026-01-30 12:40:55.857000            882         25                1
jayjoshi37/daily-internet-usage-statistics-by-age-group       Daily Internet Usage Statistics by Age Group          38314  2026-01-22 07:37:16.583000           1057         27                1
zahranusratt/student-social-media-addiction-analysis-dataset  Student Social Media Addiction Analysis Dataset        7851  2026-01-22 04:02:08.347000           2010         63                1
thedrzee/netflix-movies-and-tv-shows-dataset                  Netflix Movies & TV Shows Dataset                   1401948  2026-01-28 07:24:42.120000            919         41        0.9411765
nalisha/e-commerce-sales-and-profit-analysis-dataset          E-Commerce Sales & Profit Analysis Dataset            42383  2026-01-31 06:51:11.350000            979         32                1
nudratabbas/global-ads-performance-google-meta-tiktok         Global Ads Performance (Google, Meta, TikTok)         60218  2026-01-16 05:15:36.893000            880         25                1
wardabilal/customer-shopping-behaviour-analysis               Customer Shopping Behaviour Analysis                  67263  2026-01-25 05:50:56.253000           1175         29                1

## 1. Data Ingestion
Downloaded the retail orders dataset from Kaggle and extracted the raw CSV file.

In [2]:
#downloaded dataset from kaggle(used api)
import kaggle

!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Warning: Looks like you're using an outdated `kaggle`` version (installed: {current_version}), please consider upgrading to the latest version ({latest_version_str})
Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv.zip to C:\Users\BIT\OneDrive\Documents\retail-order-data-analytics\notebooks

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:00<00:00, 213kB/s]
100%|##########| 200k/200k [00:00<00:00, 213kB/s]

In [3]:
#since zip, so extract file from zip file
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip') 
zip_ref.extractall(r"C:\Users\BIT\retail_sales_analysis") # extract file to dir
zip_ref.close() # close file

In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\bit\appdata\local\programs\python\python314\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\bit\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bit\appdata\roaming\python\python314\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\bit\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\bit\appdata\roaming\python\python314\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\bit\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
#handling null values 
import pandas as pd

df = pd.read_csv(r"C:\Users\BIT\retail_sales_analysis\orders.csv", na_values = ['Not Available', 'unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

## 2. Data Cleaning & Standardization
Standardized column names, handled missing values, and ensured correct data types.

In [6]:
#converting to lower case
df.columns= df.columns.str.lower()
df.columns= df.columns.str.replace(' ' , '_')
df['ship_mode'] = df['ship_mode'].fillna('Unknown')
df['order_date'] = pd.to_datetime(df['order_date'])
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

## 3. Feature Engineering
Derived business metrics required for revenue and profitability analysis.

In [7]:
#deriving new col like discount,sale price and profit
df['discount'] = df['list_price']*df['discount_percent']*0.01
df['sale_price'] = df['list_price'] - df['discount']
df['profit'] = df['sale_price'] - df['cost_price']
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

## 4. Data Validation
Validated data integrity using rule-based checks before database loading.

In [8]:
assert df['order_id'].is_unique
assert df['sale_price'].min() >= 0
assert df['discount'].min() >= 0
assert df.isnull().sum().sum() == 0

print("Data validation passed")

Data validation passed

In [9]:
#now loading data to mysql server
!pip install mysql-connector-python sqlalchemy pymysql

Requirement already satisfied: mysql-connector-python in c:\users\bit\appdata\local\programs\python\python314\lib\site-packages (9.5.0)
Requirement already satisfied: sqlalchemy in c:\users\bit\appdata\local\programs\python\python314\lib\site-packages (2.0.45)
Requirement already satisfied: pymysql in c:\users\bit\appdata\local\programs\python\python314\lib\site-packages (1.1.2)
Requirement already satisfied: greenlet>=1 in c:\users\bit\appdata\local\programs\python\python314\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\bit\appdata\roaming\python\python314\site-packages (from sqlalchemy) (4.15.0)

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## 5. Database Load (MySQL)
Loaded the cleaned and validated dataset into a MySQL database using SQLAlchemy.

In [10]:
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+pymysql://root:qwerty123@localhost:3306/retail_sales"
)

In [12]:
df.to_sql(
    name="orders",
    con=engine,
    if_exists="replace",
    index=False,
    chunksize=1000,
    method="multi"
)

9994