In [7]:
!kaggle datasets list

ref                                                               title                                                     size  lastUpdated                 downloadCount  voteCount  usabilityRating
----------------------------------------------------------------  --------------------------------------------------  ----------  --------------------------  -------------  ---------  ---------------
neurocipher/heartdisease                                          Heart Disease                                             3491  2025-12-11 15:29:14.327000           2114        298                1
rockyt07/social-media-user-analysis                               Social Media User Analysis                           247842357  2026-01-14 02:28:41.970000              0         69                1
serkantysz/550k-spotify-songs-audio-lyrics-and-genres             550K Spotify Songs: Audio, Lyrics & Genres           246075351  2026-01-02 20:43:03.863000              0         36                1
saidaminsaidaxmadov/chocolate-sales                               Chocolate Sales                                         468320  2026-01-04 14:23:35.490000              0         49                1
neurocipher/student-performance                                   Student Performance                                      49705  2025-12-12 12:06:28.973000           1261        170                1
muhammadaammartufail/global-school-electricity-access             Global School Electricity Access Data (2000-2020)         5491  2026-01-15 19:04:55.977000              0         54                1
b'thedrzee/bmw-carsdataset                                          BMW Cars\xf0\x9f\x9a\x98Dataset                                        112601  2026-01-10 05:27:38.117000              0         23                1  '
suvidyasonawane/student-academic-placement-performance-dataset    Student Academic Placement Performance Dataset           94469  2026-01-11 02:02:47.837000              0         29                1
ishank2005/salary-csv                                             Salary.csv                                                 392  2025-12-29 15:48:58.240000              0         57                1
b'asadullahcreative/ai-models-benchmark-dataset-2026-latest         \xf0\x9f\x8f\x86 AI Models Benchmark Dataset 2026 (latest)               3450  2026-01-13 10:44:36.130000              0         36                1  '
hammadfarooq470/top-100-linkedin-companies-2026                   100 Most Followed Companies on LinkedIn – 2026            1331  2026-01-14 11:01:46.843000              0         25                1
dhrubangtalukdar/e-commerce-shopper-behavior-amazonshopify-based  E-Commerce Shopper Behavior (Amazon/Shopify Based)    67685585  2026-01-04 10:46:47.973000              0         23                1
b'mabubakrsiddiq/general-mental-health-and-lifestyle-dataset        \xf0\x9f\x8c\x9f General Mental Health & Lifestyle Dataset             124968  2026-01-12 13:03:33.780000              0         25                1  '
dhrubangtalukdar/lung-cancer-prediction-dataset                   Lung Cancer Prediction Dataset                           89005  2026-01-03 21:42:55.097000              0         35                1
mdickyriandi/crime-incident                                       Crime Incident                                           52418  2026-01-14 16:47:54.083000              0         16        0.8235294
mabubakrsiddiq/developer-stress-simulation-dataset                Developer Stress Simulation Dataset                       7984  2026-01-11 18:29:25.963000              0         33                1
kundanbedmutha/exam-score-prediction-dataset                      Exam Score Prediction Dataset                           325454  2025-11-28 07:29:01.047000           5863        311                1
shaistashahid/world-famous-places                                 World Famous Places                                       2309  2026-01-08 12:21:15.297000              0         25                1
donnetew/boeing-supplier-list                                     Boeing Supplier List                                      9003  2026-01-13 03:32:30.133000              0         25        0.9411765
ahmeduzaki/wind-and-solar-energy-production-dataset               Wind & Solar Energy Production Dataset                  395372  2026-01-02 21:06:22.780000              0         57                1

In [8]:
#downloaded dataset from kaggle(used api)
import kaggle

!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [9]:
#since zip, so extract file from zip file
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip') 
zip_ref.extractall(r"C:\Users\BIT\retail_sales_analysis") # extract file to dir
zip_ref.close() # close file

In [10]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\bit\appdata\local\programs\python\python314\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\bit\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bit\appdata\roaming\python\python314\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\bit\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\bit\appdata\roaming\python\python314\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\bit\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [20]:
#handling null values 
import pandas as pd

df = pd.read_csv(r"C:\Users\BIT\retail_sales_analysis\orders.csv", na_values = ['Not Available', 'unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [26]:
#converting to lower case
df.columns= df.columns.str.lower()
df.columns= df.columns.str.replace(' ' , '_')
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [27]:
#deriving new col like discount,sale price and profit
df['discount'] = df['list_price']*df['discount_percent']*0.01
df['sale_price'] = df['list_price'] - df['discount']
df['profit'] = df['sale_price'] - df['cost_price']
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [29]:
#converting object data type to datetime
df['order_date'] = pd.to_datetime(df['order_date'], format = "%Y-%m-%d")
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
sale_price                 float64
profit                     float64
dtype: object

In [34]:
#dropping discount % and list price
#df.drop(columns=['list_price','discount_percent'],inplace = True)
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,2,1.0,19.0,-1.0

In [35]:
#now loading data to mysql server
!pip install mysql-connector-python sqlalchemy pymysql

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp314-cp314-win_amd64.whl.metadata (7.7 kB)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.45-cp314-cp314-win_amd64.whl.metadata (9.8 kB)
Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.3.0-cp314-cp314-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\bit\appdata\roaming\python\python314\site-packages (from sqlalchemy) (4.15.0)
Downloading mysql_connector_python-9.5.0-cp314-cp314-win_amd64.whl (17.0 MB)
   ---------------------------------------- 0.0/17.0 MB ? eta -:--:--
   ---------- ----------------------------- 4.5/17.0 MB 23.9 MB/s eta 0:00:01
   -------------------- ------------------- 8.9/17.0 MB 23.0 MB/s eta 0:00:01
   -------------------------------------- - 16.5/17.0 MB 28.0 MB/s eta 0:00:01
   ---------------------------------------- 17.0/17.0 MB 25.9 MB/s  0:00:00
Downloading sqlalchemy-2.0.45-cp314-cp314-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 31.0 MB/s  0:00:00
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Downloading greenlet-3.3.0-cp314-cp314-win_amd64.whl (305 kB)
Installing collected packages: pymysql, mysql-connector-python, greenlet, sqlalchemy

   ---------------------------------------- 0/4 [pymysql]
   ---------- ----------------------------- 1/4 [mysql-connector-python]
   ---------- ----------------------------- 1/4 [mysql-connector-python]
   ---------- ----------------------------- 1/4 [mysql-connector-python]
   ---------- ----------------------------- 1/4 [mysql-connector-python]
   ---------- ----------------------------- 1/4 [mysql-connector-python]
   ---------- ----------------------------- 1/4 [mysql-connector-python]
   ---------- ----------------------------- 1/4 [mysql-connector-python]
   ---------- ----------------------------- 1/4 [mysql-connector-python]
   ---------- ----------------------------- 1/4 [mysql-connector-python]
   ---------- ----------------------------- 1/4 [mysql-connector-python]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ---------------------------------------- 4/4 [sqlalchemy]

Successfully installed greenlet-3.3.0 mysql-connector-python-9.5.0 pymysql-1.1.2 sqlalchemy-2.0.45

In [36]:
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+pymysql://root:qwerty123@localhost:3306/retail_sales"
)

In [39]:
df.to_sql(
    name="orders",
    con=engine,
    if_exists="append",
    index=False
)

9994